@keyframes desplazarDesdeDerecha {
    from {left: 100%;}
    to {left: 0;}
}

@keyframes quitarTransparencia {
    from {opacity: 0;}
    to {opacity: 100%;}
}

body {
    scroll-behavior: smooth; /*desplzamiento suavizado*/
    height: 550vh;
    opacity: 2;
    background-image: url("img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero, .pag1, .pag2 {
    height: 150vh;
    width: 100%;
    position: relative;
}

.navOculto {
    max-height: 0;
    height: auto;
    overflow: hidden;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-property: max-height;
}

.navVisible {
    max-height: 320px;
    overflow: hidden;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-property: max-height;
}

.listaNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navItem {
    height: 40px;
    padding: 5px;
}

.navLink {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
      
/* Change the link color to #111 (black) on hover */
.navLink:hover {
    background-color: #CCC;
    opacity: 0.4;
}

.animaEntrada1 {
    animation-name: desplazarDesdeDerecha;
    animation-duration: 2s;
}

.animaEntrada2 {
    animation-name: quitarTransparencia;
    animation-duration: 2s;
}

.oculto {
    display: none;
}


@keyframes cargando {
    0% { max-width: 0; }
    100% { max-width: 300px; }
}

.cargando {
    width: 300px;
    position: fixed;
    top: 50vh;
    left: 50vw;
    height: 260px;
    background-image: url("img/barco1.png");
    background-size: cover;
    animation: cargando 3s linear;
}

footer {
    position: fixed; /*posicion fija en la pantalla*/
    bottom: 0;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.card{
    width: 300px;
    height: 400px;
    background-color: #00BCD4;
    border-radius: 3px;
    background-position: top center;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-content{
    transform-style: preserve-3d;
    text-align: center;
    height: 70%;
    width: 100%;
}

.cardImagen{
    width: 100%;
    height: 100%;
    transform: translateZ(100px);
}

.Jack {
    background-image: url("img/Jack_Sparrow.png");
    background-size: cover;
}

.Will {
    background-image: url("img/Will_Turner.png");
    background-size: cover;
}

.Davy {
    background-image: url("img/Davy_Jones.png");
    background-size: cover;
}

.Elizabeth {
    background-image: url("img/Elizabeth_Turner.png");
    background-size: cover;
}

h1{
    color: #FFF;
    transform: translateZ(10px);
}
  
/*p{
    color: #FFF;
    transform: translateZ(50px);
}
*/
.containerCarousel {
    margin-top: 20px;
    width: 100%;
    height: 450px;
}

.tamañoCarrusel {
    width: 80%;
    height: 400px;
    margin-left: 10%;
}

.carousel-item {
    width: 100%;
    height: 100%;
}
.escenaA {
    background-image: url("img/escenaA.jpeg");
    background-size: cover;
}

.escenaB {
    background-image: url("img/escenaB.jpg");
    background-size: cover;
}
.escenaC {
    background-image: url("img/escenaC.jpg");
    background-size: cover;
}
.escenaD {
    background-image: url("img/escenaD.jpg");
    background-size: cover;
}
.escenaE {
    background-image: url("img/escenaE.jpg");
    background-size: cover;
}
.escenaF {
    background-image: url("img/escenaF.jpeg");
    background-size: cover;
}
.escenaG {
    background-image: url("img/escenaG.jpg");
    background-size: cover;
}

@keyframes animaEntradaFormulario {
    from {margin-top: 100vh;}
    to {margin-top: 0;}
}

.formularioComentarios {
    width: 80%;
    margin: 0% 10%;
    padding-top: 70px;
}

.animaEntradaFormulario {
    transform: translate(0px, -50px);
    transition: transform 3s;
}

.comentar {
    border-radius: 15px;
    transition: transform 0.5s;
}

    .comentar:hover {
        animation-name: quitarTransparencia;
        animation-duration: 1.5s;
    }

    .comentar:active {
        transform: translate(0px, 5px);
    }

.publicar {
    transform-origin: left center;
    transition: transform 1.5s;
}

.publicar:hover {
    transform: scale(1.25);
}

.form-control:focus {
    background-color: lightblue;
    font-weight: bold;
}

.form-control:invalid {
    color: red;
}

.accordion-content {
    max-height: 0;
    height: auto;
    overflow: hidden;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-property: max-height;
}

.animaAccordion {
    max-height: 320px;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-property: max-height;
}

.accordionCard {
    height: 250px;
    width: 500px;
    transform-style: preserve-3d;
    position: relative;
    transform-origin: left top;
    transition: transform 0.5s;
    z-index: 1;
}

.accordionCard:hover {
    /**transform: rotate3d(0.5, 0.5, 1);*/
    transform: rotateX(10deg);
    transform: rotateY(10deg);
    transform: rotateZ(10deg);
  }
  