@keyframes desplazarDesdeDerecha {
    from {left: 100%;}
    to {left: 0;}
}

@keyframes quitarTransparencia {
    from {opacity: 0;}
    to {opacity: 100%;}
}

.hero {
    height: 150vh;
    width: 100%;
    background-color: red;
    opacity: 0.5;
    position: absolute;
}

.animaEntrada1 {
    animation-name: desplazarDesdeDerecha;
    animation-duration: 2s;
}

.animaEntrada2 {
    animation-name: quitarTransparencia;
    animation-duration: 2s;
}

.pag1 {
    height: 150vh;
    width: 100%;
    position: relative;
    top: 150vh;
    background-color: blue;
    opacity: 0.5;
}

.pag2 {
    height: 150vh;
    width: 100%;
    top: 150vh;
    position: relative;
    background-color: green;
    opacity: 0.5;
}

.oculto {
    display: none;
}


@keyframes cargando {
    0% { max-width: 0; }
    100% { max-width: 300px; }
}

.cargando {
    width: 300px;
    position: fixed;
    top: 50vh;
    left: 50vw;
    height: 260px;
    background-image: url("img/barco1.png");
    background-size: cover;
    animation: cargando 3s linear;
}

footer {
    position: fixed; /*posicion fija en la pantalla*/
    bottom: 0;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.card{
    width: 300px;
    height: 400px;
    background-color: #00BCD4;
    border-radius: 3px;
    background-position: top center;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .card:after{
        content: '';
        position: absolute;
        width:100%;
        height: 8px;
        border-radius: 50%;
        left: 0;
        bottom: 0px;
        box-shadow: 0 30px 20px rgba(0, 0, 0, .5);
    }


.card-content{
    transform-style: preserve-3d;
    text-align: center;
}

h1{
    color: #FFF;
    transform: translateZ(100px);
}
  
p{
    color: #FFF;
    transform: translateZ(50px);
}

.containerCarousel {
    margin-top: 20px;
    width: 100%;
    height: 450px;
}

.tamañoCarrusel {
    width: 80%;
    height: 400px;
    margin-left: 10%;
}

.escenaA {
    width: 100%;
    height: 100%;
    background-image: url("img/escenaA.jpeg");
    background-size: cover;
}

.escenaB {
    width: 100%;
    height: 100%;
    background-image: url("img/escenaB.jpg");
    background-size: cover;
}
.escenaC {
    width: 100%;
    height: 100%;
    background-image: url("img/escenaC.jpg");
    background-size: cover;
}
.escenaD {
    width: 100%;
    height: 100%;
    background-image: url("img/escenaD.jpg");
    background-size: cover;
}
.escenaE {
    width: 100%;
    height: 100%;
    background-image: url("img/escenaE.jpg");
    background-size: cover;
}
.escenaF {
    width: 100%;
    height: 100%;
    background-image: url("img/escenaF.jpeg");
    background-size: cover;
}
.escenaG {
    width: 100%;
    height: 100%;
    background-image: url("img/escenaG.jpg");
    background-size: cover;
}

@keyframes animaEntradaFormulario {
    from {margin-top: 100vh;}
    to {margin-top: 0;}
}

.formularioComentarios {
    width: 80%;
    margin: 0% 10%;
    padding-top: 150px;
}

.animaEntradaFormulario {
    transform: translate(0px, -100px);
    transition: transform 3s;
}

.comentar {
    border-radius: 15px;
    transition: transform 0.5s;
}

    .comentar:hover {
        animation-name: quitarTransparencia;
        animation-duration: 1.5s;
    }

    .comentar:active {
        transform: translate(0px, 5px);
    }

.publicar {
    transform-origin: left center;
    transition: transform 1.5s;
}

.publicar:hover {
    transform: scale(1.25);
}

.form-control:focus {
    background-color: lightblue;
    font-weight: bold;
}

.form-control:invalid {
    color: red;
}
