$bkg-color: rgba(29, 37, 51, 0.8);
$bkg-color-containers: rgba(29, 37, 51, 0.5);
$bkg-color-list-odd:rgba(29, 37, 51, 0.4);
$bkg-color-sublist-even: rgba(80, 88, 102, 0.6); //opacity: 0.2;
$bkg-color-sublist-odd: rgba(80, 88, 102, 0.2); //opacity: 0.2;
$bkg-popup: rgba(255, 255, 255, 1); //border-radius: 24px 24px 0px 0px;
$bkg-action-success: rgba(0, 186, 136, 1);
$bkg-action-failure: rgba(237, 46, 126, 1);
$bkg-color-header-footer: rgba(29, 37, 51, 1);
$bkg-card-container: rgba(196, 196, 196, 0.1);
$white-transparent: rgba(249, 247, 247, 0); //revisar si es necesario el transparente
$popup-title-color: rgba(20, 20, 43, 1);
$popup-text-color: rgba(78,75,102, 1);
$placeholder-color:rgba(160,163,189, 1); //#A0A3BD

$secondary-color: rgba(141, 194, 219, 1);
$white: rgba(249, 247, 247, 1);

*{
    color: $white;
    font-family: 'Poppins';
}

html {
    background-color: $bkg-color;
}

h1{ //titulo de la pantalla
    font-size: 40px;
    letter-spacing: 7px;
    text-align: center;
    margin-bottom: 2rem;
};
h2, .popupTitle{ //titulos dentro de la pantalla
    line-height: 35px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 2px;
};
h3{
    font-size: 18px;
    letter-spacing: .75px;
};
p, span, textarea {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 25px;
    font-weight: 300;
};
.littleText {
    font-size: 8px;
    letter-spacing: .75px;
    line-height: 14px;
};
.popupTitle{
    color: $popup-title-color;
}
.popupText{
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1px;
    color: $popup-text-color;
}


.toolbar,
.player {
    background-color: $bkg-color-header-footer;
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    height: 10vh;
    
    @media (min-width: 900px) {
        height: 6vh;
    }
    svg {
        fill: $white;
    }
}

.iconsStyle{
    border: 2px solid $white;
    background-color: $white-transparent; //revisar si es necesario el transparente
}

.container{
    background-color: $bkg-color-containers;
    padding: 20px;
}

.toolbar {
    z-index: 3;
    top: 0;
    bottom: auto;

    >svg {
        margin-left: 2rem;
    }

    .right {
        display: flex;
        margin-left: auto;
        align-items: center;

        >svg {
            margin-right: .75rem;
        }

        div {
            margin-right: 2rem;
        }
    }
}

.player {
    top: auto;
    bottom: 0;
    justify-content: space-between;

    svg {
        fill: $white;
    }

    > :first-child,
    > :last-child {
        margin: 0 1rem;
    }

    .show-more {
        display: flex;
        flex-direction: column;

        .show-more-icon {
            font-size: 1rem;
        }
    }
}

.menu, .menuDesplegable {
    position: absolute;
    width: 100vw;
    background-color: $bkg-color-header-footer;
    
    @media (min-width: 900px) {
        height: auto;
        width: 30vw; //capaz quitar
    }
}

.menuDesplegable {
    top: 10vh;
    opacity: 1;
    height: 80vh;
    @media (min-width: 900px) {
        top: 6vh;
        height: 88vh;
    }
}

.carrousel-simple {
    overflow: hidden;
    >h2 {
       text-align: center;
       margin-bottom: 2rem;
    }

    >.content {
        display: flex;
        width: max-content;
        margin: auto;
    }


    .actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        svg {
            fill: $white;
        }
    }

    .actions.true {
        justify-content: flex-end;
    }
    
    @media (min-width: 900px) {
        .actions {
            display: none;
        }
    }


    .card {
        width: 195px;
        background-color: inherit;

        &:not(:last-of-type) {
            margin-right: 33px;
        }

        .card-image {
            border-radius: 10px;
        }

        .content {
            background-color: $bkg-card-container;
        }

    }
}

.section-title,
h2.section-title {
    text-align: center;
    margin-bottom: 2rem;
}


.page{
    padding-top: 10vh;
    padding-bottom: 10vh;
    @media (min-width: 900px) {
        padding-top: 6vh;
        padding-bottom: 6vh;
    }
}

.endComments{
    height: 10vh;
    @media (min-width: 900px) {
        height: 6vh;
    }
}

.popup {
    background-color: $bkg-popup;
    position: fixed;
    top: auto;
    bottom: 50px;
    left: auto;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25%;
    justify-content: space-around;

}

.popup-size {
    width: 100%;
    height: 100%;
}



.list {
    svg {
        fill: $white; //lo mismo que usar la clase .iconsStyle
    }

    .margen{
        margin: 0 !important; //quitar
    }

    .list-item {
        margin-bottom: 0;
        box-shadow: none;

        &:nth-child(odd) {
            background-color: $bkg-color-list-odd;
        }

        &:nth-child(even) {
            background-color: $bkg-color-containers;
        }

        .accordion-details {
            padding: 0;

            .list-item-detail {
                width: 100%;

                div {
                    padding: 0;
                    margin: 0;
                }

                span {
                    padding: 5px 88px; //16+16+56
                }

                :nth-child(odd) {
                    background-color: $bkg-color-sublist-odd;
                }

                :nth-child(even) {
                    background-color: $bkg-color-sublist-even;
                }
            }
        }

        [aria-controls='list-content'] {
            width: 100%;

            > :last-child {
                margin-left: auto;
            }
        }
    }
}

.container-information {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: $bkg-color-containers;
    .information-title {
        font-weight: bold;
    }
}

.playlist-list-home {

    @media (min-width: 900px) {
        display: flex;

        >h2,
        ul {
            vertical-align: middle;
            flex: 0 0 50%;
            margin: auto;
        }

        ul ul {
            flex: auto;
        }
    }

}

.carrousel-featured {
    text-align: center;

    .content {
        display: flex;
        justify-content: space-around;

        img {
            &.featured {
                scale: 150%;
            }

            &:not(.featured) {
                margin: 5rem 1rem -5rem 1rem;
            }

        }

        .control{
            margin: auto;
            height: max-content;
            padding: 2rem;
            cursor: pointer;
            svg {
                color: $white;
            }
        }
    }

    h2 {
        margin-top: 2rem;
    }
}

.commentsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments{
    width: 100%;
}

.dejarComentario{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 16px;
    
    text-align: left;
}

textarea{
    border-radius: 10px;
    width: 80%;
}

.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 900px) {
        flex-direction: row;
        width: 80%;
        padding-left: 20%;
    }
}

.page-content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.songInfo{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (min-width: 900px) {
        justify-content: space-around;
    }
}

.songTitle{
    width: 100%;
}

.songSubitle{
    text-align: center;
}

.rating{
    margin-top: 100%;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rotate{
    transform: rotate(90deg);
}

.carrusel-images{
    padding-bottom: 80px;
}

.separacion{
    height: 100px;
}

.title{
    width: 100%;
}

.placeholder{
    color: $placeholder-color;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 25px;
    font-weight: 300;
}

.commentTitle{
    font-weight: 600;
}

.commentIcon{
    height: 80px;
}

.cardsAnimable{
    position: relative;
}

.animacion1{
    transform: translate(0, 0);
    transition: transform 3s;
}

.animacion2{
    transform: translate(-500px, 0);
    transition: transform 3s;
}